.nteract-cell-prompt {
  font-family: monospace;
  color: var(--theme-cell-prompt-fg, black);
  background-color: var(--theme-cell-prompt-bg, #fafafa);
}

.nteract-cell-pagers {
  background-color: var(--theme-pager-bg, #fafafa);
}

.nteract-cell-outputs a {
  color: var(--link-color-unvisited, blue);
}

.nteract-cell-outputs a:visited {
  color: var(--link-color-visited, blue);
}

.nteract-cell-outputs code {
  font-family: "Source Code Pro", monospace;
}

.nteract-cell-outputs kbd {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  background-color: #f7f7f7;
}

.nteract-cell-outputs th,
    .nteract-cell-outputs td,
    /* for legacy output handling */
    .nteract-cell-outputs .th,
    .nteract-cell-outputs .td {
  border: 1px solid var(--theme-app-border, #cbcbcb);
}

.nteract-cell-outputs blockquote {
  padding: 0.75em 0.5em 0.75em 1em;
}

.nteract-cell-outputs blockquote::before {
  display: block;
  height: 0;
  margin-left: -0.95em;
}

.nteract-cell-input .nteract-cell-source {
  background-color: var(--theme-cell-input-bg, #fafafa);
}

.nteract-cells {
  font-family: "Source Sans Pro", Helvetica Neue, Helvetica, sans-serif;
  font-size: 16px;
  background-color: var(--theme-app-bg);
  color: var(--theme-app-fg);
}

.nteract-cell {
  color: var(--theme-app-fg);
  display: flex;
  flex-direction: column;
  background: var(--theme-cell-bg, white);
  border: 1px solid;
  border-color: var(--theme-cell-border);
  box-shadow: 0px 2px 4px rgba(41, 49, 58, 0.075);
  border-radius: 4px;
  font-family: "Source Code Pro", sans-serif;
}

.nteract-cell-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.nteract-cell-container:focus .nteract-cell,
.nteract-cell-container:focus-within .nteract-cell,
.nteract-cell-container.selected .nteract-cell {
  outline: 0;
  background: var(--theme-cell-bg, white);
  border: 1px solid;
  border-color: var(--theme-cell-border);
  box-shadow: 0px 2px 8px rgba(41, 49, 58, 0.15);
  border-radius: 4px;
}

.nteract-cell-gutter {
  background-color: var(--theme-cell-gutter);
  color: var(--theme-cell-gutter-color);
  padding: 8px;
}

.nteract-cell-gutter button {
  color: var(--theme-cell-gutter-color);
}

.nteract-cell-gutter .nteract-cell-toolbar > * {
  margin-bottom: 4px;
}

.nteract-cell-body {
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: 100%;
  width: 100%;
}

.nteract-cell-container .cell-menu {
  margin-bottom: 40px;
}
.nteract-cell-container.selected .nteract-cell-prompt {
  background-color: var(--theme-cell-prompt-bg-focus, hsl(0, 0%, 90%));
  color: var(--theme-cell-prompt-fg-focus, hsl(0, 0%, 51%));
}

.nteract-cell-container:hover:not(.selected) .nteract-cell-prompt,
.nteract-cell-container:active:not(.selected) .nteract-cell-prompt {
  background-color: var(--theme-cell-prompt-bg-hover, hsl(0, 0%, 94%));
  color: var(--theme-cell-prompt-fg-hover, hsl(0, 0%, 15%));
}

.nteract-cell-outputs {
  background-color: var(--theme-cell-output-bg);
  padding: 1rem;
}

.nteract-cell-container.selected .nteract-cell-outputs {
  background-color: var(--theme-cell-output-bg-focus);
}

.nteract-cell-container:hover:not(.selected) .nteract-cell-outputs,
.nteract-cell-container:active:not(.selected) .nteract-cell-outputs {
  background-color: var(--theme-cell-output-bg-hover);
}

.nteract-cell:focus .nteract-cell-prompt {
  background-color: var(--theme-cell-prompt-bg-focus, hsl(0, 0%, 90%));
  color: var(--theme-cell-prompt-fg-focus, hsl(0, 0%, 51%));
}

@media print {
  /* make sure all cells look the same in print regarless of focus */
  .nteract-cell-container .nteract-cell-prompt,
  .nteract-cell-container.selected .nteract-cell-prompt,
  .nteract-cell-container:focus .nteract-cell-prompt,
  .nteract-cell-container:hover:not(.selected) .nteract-cell-prompt {
    background-color: var(--theme-cell-prompt-bg, white);
    color: var(--theme-cell-prompt-fg, black);
  }
}
